/* GENERAL STYLES */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.float-left {
    float: left;
    max-width: 100%;
    padding: 10px;
    
}

.container {
    border: 2px solid black;
    max-width: 75%;
    margin-top: 20px;
    margin-bottom: 100px;
    }

 @include media-breakpoint-up(xs) {
    .container {
        max-width: 100%;
        align: center;
     }

 /* Medium devices (tablets, 768px and up) 
@media (min-width: 768px) { ... } 

@media (min-width: 992px) {
    
}*/